.sidebar {
    min-height: 100vh;
    padding-top: 64px;
}
form {
    margin: 0;
}
.toggleCompleted[aria-expanded=false]::after {
    content: "показать выполненные задачи";
}
.toggleCompleted[aria-expanded=true]::after {
    content: "скрыть выполненные задачи";
}
th {
    text-transform: uppercase;
}
.tag-link span {
    display: inline-block;
}
.tag-link span::first-letter {
    text-transform: uppercase;
}
.form-control-color {
    height: 38px !important;
}
#check-arrow {
    fill: none;
    color: white;
    pointer-events:all;
}
.bi-check-circle:hover #check-arrow {
    fill: black;
}
.task-detail .task-menu{
    display: none;
}
.task-detail:hover .task-menu{
    display: flex;
}
.nav-link .nav-link_tag-menu {
    display: none;
}
.nav-link:hover .nav-link_tag-menu {
    display: block;
}
#tag-collapse-toggle[aria-expanded="false"] .bi-chevron-up{
    display: none;
}
#tag-collapse-toggle[aria-expanded="true"] .bi-chevron-up{
    display: inline;
}
#tag-collapse-toggle[aria-expanded="false"] .bi-chevron-down{
    display: inline;
}
#tag-collapse-toggle[aria-expanded="true"] .bi-chevron-down{
    display: none;
}